{%extends "layout.html"%}

{%block content%}
<div class="content-section"> 
    <form method="POST" action="">
        {{form.hidden_tag()}}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Search</legend>
            
            

                {% if form.category.errors%}
                        {{form.category(class="form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {%for error in form.category.errors%}
                            <span>
                                {{error}}
                            </span>
                            {%endfor%}
                        </div>

                    {%else%}
                        {{form.category(class="button")}}

                    {%endif%}
                
            

            
               
                {% if form.content.errors%}
                    {{form.content(class="form-control form-control-lg is-invalid")}}
                    <div class="invalid-feedback">
                        {%for error in form.content.errors%}
                        <span>
                            {{error}}
                        </span>
                        {%endfor%}
                    </div>
    
                {%else%}
                    {{form.content(class="text")}}
    
                {%endif%}
            
            
        
            {{form.search(class="btn btn-outline-info")}}
           
        
    </form>
</div>

{%endblock content%}











